.root {
	display: flex;
	gap: var(--gov-h3-size);
	> button {
		border-color: var(--gov-white);
		color: var(--gov-white);
		text-transform: uppercase;
		padding: var(--gov-small-size) var(--gov-h3-size) !important;
	}
}