.root {
	display: flex;
}

.container {
	padding: 53px 0;

	@media screen and (min-width: 768px) {
		height: calc(100vh - 53px);
	}
	color: var(--gov-white);
		a {
		color: inherit;
		text-decoration: underline;
	}
}

.content {

	@media screen and (min-width: 768px) {
		height: calc(100% - 200px);
	}

	> div {
		&:first-child {
		padding-top: 60px;
		}
		flex-basis: 100%;
		> * {
			flex-basis: 100%;
		}
	}
}