.root {
	width: calc(100% - calc(var(--gov-h3-size) * 2));
	background-color: var(--gov-white);
	padding: var(--gov-h3-size);
	border-radius: var(--gov-h2-size);
	table {
		width: 100%;
		font-weight: 300;
	}
	thead, tfoot {
		font-weight: 700;
	}
	th {
		text-align: justify;
		padding: 24px 0;
		text-transform: capitalize;
	}
	td {
		padding: 12px 0;
	}
	th {
		border-bottom: 1px solid var(--gov-grey-xl);
	}
	tr:not(:last-child) {
		td {
			border-bottom: 1px solid var(--gov-grey-xl);
		}
	}
	a {
		color: var(--gov-black);
		text-decoration: underline;
	}
}
.calc {
	padding: 16px 0;
	> span {
		display: flex;
		gap: 4px;

	}
	a {
		text-decoration: underline;
	}
}
.header {
	margin-bottom: 30px;
}
.title {
	position: relative;
	padding-left: 30px;
	&::before {
		position: absolute;
		width: 6px;
		height: 100%;
		background-color: var(--gov-blue-xs);
		content: "";
		left: 0;
	}
}