.root {
  border-radius: 4px;
  overflow: hidden;
}
.header {
	position: relative;
  padding: 20px 0;
  cursor: pointer;
	font-size: var(--gov-h2-size);
	color: var(--gov-primary);
	font-weight: 300;
	line-height: 1;
	border-bottom: 1px solid var(--gov-blue-m);
	transition: all .2s ease-in-out;
	.icon {
		position: absolute;
		right: 0;
		fill: none;
		top: 50%;
		transform: translateY(-50%) rotate(0deg);
		transition: transform .2s ease-in-out;
		path {
			fill: none;
			stroke: var(--gov-black);
		}
	}
}
.item {
  &.open {
		.content {
			max-height: 900px;
			transition: max-height 0.25s ease-in-out;
		}

		.header {
			border-color: transparent;
			.icon {
				transform: rotate(-180deg);
			}
		}
	}
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;
	> div {
		  padding: 16px 0;
	}
}
