.root {
	padding: 35px 0 0;
}

.content {
	height: 100%;
	padding: 57px;
	border-radius: var(--gov-border-xl);
	background-color: var(--gov-white);
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.arrow {
	width: 33px;
	height: 24px;
	margin-right: 24px;
	path {
		fill: var(--gov-primary);
	}
}

.arrowText {
	display: flex;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 16px;
	color: var(--gov-black);
	input, select {
		padding: 16px 24px;
		background-color: var(--gov-grey-l);
		border-radius: var(--gov-border-m);
	}
}